.float{
	float:right;
	margin-top:20px;
}
.btn {
    margin: 5px;
}
body{
	background: url('bg.jpg') !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}